* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --font-size-small: 1.8rem;
  --font-size-normal: 2.2rem;
  --font-size-medium: 2.8rem;
  --font-size-medium-1: 3.6rem;
  --font-size-large: 5.5rem;
  --font-size-huge: 7.5rem;
  --font-stack: "Roboto", sans-serif;

  --line-height-normal: 1.7;
  --line-height-small: 1.2;

  --black:  #ced2f4;
  --primary: #6a6ae2;
  --font-primary: #000000;
  --font-secondary: #000000; 
  /* --font-secondary: #e5e5e6da; */
  --light-grey: #f0f0f4;
  --medium-grey: #ced2f4;
  --dark-grey: #bbbfe2;
  --light-purple: #6a6ae2;
  --dark-purple: #4141aa;
  --light-orange: #f3b378;
  --medium-orange: #ed995a;
  --dark-orange: #d67747;

  --gutter-huge: 8rem;
  --gutter-medium: 6rem;
  --gutter-normal: 3rem;
  --gutter-small-1: 2.5rem;
  --gutter-small: 2rem;

  --border-light: 1px solid rgb(36, 35, 35);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
  font-size: var(--font-size-small);
  font-family: var(--font-stack);
  font-weight: 400;
  color: var(--font-secondary);
  line-height: var(--line-height-normal);
  background: var(--black);
  overflow-x: hidden;
}

.row {
  max-width: 80vw;
  margin: 0 auto;
}


@media (max-width: 1340px) {
  .row {
    max-width: 1100px;
  }
}

@media (max-width: 1240px) {
  .row {
    padding: 0 var(--gutter-medium);
  }
}

@media (max-width: 1000px) {
  html {
    font-size: 52%;
  }
}

@media (max-width: 600px) {
  .row {
    padding: 0 var(--gutter-normal);
  }
}

@media (max-width: 600px) {
  .row {
    padding: 0 var(--gutter-small);
  }
}

section {
  padding: var(--gutter-huge) 0;
  border-bottom: var(--border-light);
}

img {
  object-fit: contain;
  max-width: 100%;
}

/* ------------------------- Headlines and Paragraphs ------------------------- */

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: var(--line-height-small);
  color: var(--font-primary);
}

.heading-primary {
  line-height: 1;
  font-size: var(--font-size-huge);
  font-weight: 400;
}

@media (max-width: 900px) {
  .heading-primary {
    font-size: 6.5rem;
  }
}

h2 {
  font-size: var(--font-size-large);
  margin-bottom: var(--gutter-medium);
}

h2::after {
  content: "";
  display: block;
  height: 2px;
  width: 10rem;
  background: var(--primary);
  margin: var(--gutter-small) 0;
}

h3 {
  font-size: var(--font-size-medium-1);
  margin-bottom: var(--gutter-small);
}

@media (max-width: 500px) {
  .heading-primary {
    font-size: var(--font-size-large);
  }

  h2 {
    font-size: var(--font-size-medium-1);
  }

  h3 {
    font-size: var(--font-size-medium);
  }
}

p {
  margin: var(--gutter-small-1) 0;
}

@media (max-width: 900px) {
  p {
    max-width: 10vw;
  }
}

/* ------------------------- Buttons and Links ------------------------- */

a {
  color: var(--font-primary);
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  transition: all 0.2s;
  outline: 2px solid transparent;
}

::-moz-focus-inner {
  border: 0;
}

button:focus,
a:focus {
  outline: 2px solid var(--primary);
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) a:focus {
  outline: none;
}

.link:hover {
  color: var(--primary);
}

.btn {
  position: relative;
  display: inline-block;
  padding: 1rem 4.2rem;
  text-decoration: none;
  color: inherit;
  border: 1px solid var(--primary);
  font-weight: 400;
}

.btn:focus {
  outline: none;
}

.btn::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  background: var(--font-primary);
  height: 100%;
  z-index: -1;
  transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.btn:hover::after,
.btn:focus::after {
  right: 0;
  background: var(--primary);
}

.btn--primary {
  background: var(--primary);
  transition: all 0.2s;
}

.btn--primary::after {
  display: none;
}

.btn--primary:hover,
.btn--primary:focus {
  background: transparent;
}

.link__text {
  position: relative;
  display: inline-block;
  padding: 0.6rem;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--primary);
}

.link__text::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  background: var(--font-primary);
  height: 100%;
  z-index: -1;
  transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.link__text:focus {
  outline: none;
}

.link__text:hover::after,
.link__text:focus:after {
  right: 0;
  background: var(--primary);
}

.link__text span {
  padding-left: 1rem;
  font-family: sans-serif;
}

/* ------------------------- Back to Top ------------------------- */

.back-to-top {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.5rem;
  width: 5.5rem;
  background-color: var(--primary);
  border-radius: 50%;
  z-index: 10;
  visibility: hidden;
  transition: all 0.4s;
}

.back-to-top__image {
  justify-content: right;
  height: 70%;
}

@media (max-width: 900px) {
  .back-to-top {
    right: 2rem;
  }
}

@media (max-width: 500px) {
  .back-to-top {
    right: 1rem;
  }
}
/* ------------------------- Navigation ------------------------- */
.navigation__checkbox{
  display:none
}

.navigation__button{
  position:fixed;
  top:5vh;
  left:5vw;
  height:7rem;
  width:7rem;
  text-align:center;
  background-color:#4141aa;
  border-radius:10%;
  z-index:300;
  box-shadow:0 1rem 3rem #4141aa;
  cursor:pointer;
  transform: translateX(-50%);
}

.navigation__background{
  position:fixed;
  top:5vh;
  left:5vw;
  height:6rem;
  width:6rem;
  border-radius:5%;
  background:#ed995a;
  z-index:100;
  transition:all 1.2s cubic-bezier(.86,0,.07,1);
  transform: translateX(-50%);
}

.navigation__nav{
  position:fixed;
  top:0;
  left:0;
  height:100vh;
  opacity:0;
  width:0;
  visibility:hidden;
  z-index:200;
  transition:all .8s cubic-bezier(.68,-.55,.01,1)
}
.navigation__list{
  position:absolute;
  top: 10vh;
  left: 10vh;
  text-align:left;
  width:100%;
  list-style:none
}
/* ---------- Backetball size ---------- */
.navigation__checkbox:checked~.navigation__background{
  transform:scale(10);
  max-height:1vh;
  width:100vw;
}
.navigation__checkbox:checked~.navigation__nav{
  width: 20vw;
  height: 20vh;
  visibility:visible;
  opacity:1
}
/* ---------- Button Animation ---------- */
.navigation__icon{
  position:relative;
  margin-top:3.5rem
}
.navigation__icon,
.navigation__icon:after,
.navigation__icon:before{
  display:inline-block;
  width:3rem;
  height:2px;
  background-color:#f0f0f4;
}
.navigation__icon:after,
.navigation__icon:before{
  content:"";
  position:absolute;
  left:0;
  transition:all .4s
}
.navigation__icon:before{
  top:-1rem
}
.navigation__icon:after{
  top:1rem
}
.navigation__button:hover .navigation__icon:before{
  top:-1.2rem
}
.navigation__button:hover .navigation__icon:after{
  top:1.2rem
}
.navigation__checkbox:checked+.navigation__button .navigation__icon{
  background-color:transparent
}
.navigation__checkbox:checked+.navigation__button .navigation__icon:before{
  top:0;
  transform:rotate(405deg)
}
.navigation__checkbox:checked+.navigation__button .navigation__icon:after{
  top:0;
  transform:rotate(495deg)
}
/* ------------------------- Nav Links ------------------------- */


@media (max-width: 400px) {
  .nav__item:not(:last-child) {
    margin-right: var(--gutter-normal);
  }
}

.nav__link {
  position: relative;
  display: inline-block;
  padding: 1rem 0;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s;
}

.nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  display: inline-block;
  height: 1rem;
  background: var(--font-primary);
  transition: all 0.25s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.nav__link:hover {
  color: var(--primary);
}

.nav__link:hover::after {
  right: 0;
  height: 2px;
  background: var(--primary);
}

/* ------------------------- Header ------------------------- */

.header {
  background: linear-gradient(rgba(194, 71, 71, 0.1), rgb(255, 255, 255))
  /* ,
    url("./public/header.png") */;
  display: flex;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: var(--font-size-normal);
  z-index: 101;
}
.header__image {
  height: 50vh;
  display: flex;
  top: 40vh;
  right: 25vh;
  position: absolute;
}

.header__text {
  position: absolute;
  top: 10vh;
  left: 10vh;
}

.header__text p {
  margin: 1.5rem 0 3.5rem;
  max-width: 30vw;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size-medium);
}

@media (max-width: 500px) {
  .header {
    text-align: center;
  }

  .header__text p {
    transform: scale(0.8);
  }
}

/* ------------------------- Work ------------------------- */

.work__box {
  display: flex;
  align-items: center;
}

@media (max-width: 900px) {
  .work__box {
    align-items: initial;
    flex-direction: column-reverse;
  }
}

.work__box:not(:last-child) {
  margin-bottom: 15rem;
}

@media (max-width: 500px) {
  .work__box:not(:last-child) {
    margin-bottom: 20rem;
  }
}

.work__links {
  display: flex;
  align-items: center;
}

.work__text {
  flex: 0 0 30%;
}

.work__list {
  list-style-position: inside;
  margin-bottom: var(--gutter-normal);
}

.work__code {
  display: block;
  height: 3rem;
  margin-left: var(--gutter-normal);
  transition: all 0.3s;
}

.work__code:hover {
  transform: scale(1.2);
}

.work__image-box {
  margin-bottom: var(--gutter-normal);
}

@media (min-width: 901px) {
  .work__image-box {
    flex: 1;
    margin: 0 0 0 10rem;
  }
}

@media (max-width: 900px) {
  .work__code {
    height: 4rem;
  }
}

/* ------------------------- About ------------------------- */

.about__content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

@media (max-width: 900px) {
  .about__content {
    flex-direction: column-reverse;
    align-items: initial;
  }
}

.about__photo-container {
  margin-bottom: var(--gutter-normal);
}

@media (min-width: 901px) {
  .about__text {
    flex: 0 0 35%;
  }

  .about__photo-container {
    flex: 1;
    margin: 0 var(--gutter-huge) 0 0;
  }
}

/* ------------------------- Languages ------------------------- */

.Language__logos {
  display: flex;
  justify-content: space-between;
}

.Language__logos i {
  font-size: 8rem;
}

@media (max-width: 1240px) {
  .Language__logos {
    overflow-x: scroll;
    padding: var(--gutter-normal);
  }

  .Language__logo:not(:last-of-type) {
    margin-right: var(--gutter-medium);
  }
}

/* ------------------------- Contact ------------------------- */

.contact__info {
  max-width: 50vw;
}

/* ------------------------- Footer ------------------------- */

.footer {
  text-align: center;
  padding: var(--gutter-medium) 0 var(--gutter-normal);
}

.footer__social-links {
  display: flex;
  justify-content: center;
  padding: var(--gutter-normal) 0;
  list-style: none;
}

.footer__social-link-item:not(:last-of-type) {
  margin-right: var(--gutter-small);
}

.footer__social-image {
  height: 4rem;
}

.footer__github-buttons {
  display: flex;
  justify-content: center;
}

.footer__github-buttons iframe {
  height: 2.5rem;
  width: 84px;
  transform: translateY(3px);
}

@media (max-width: 500px) {
  .footer {
    padding: var(--gutter-medium) 0;
  }
}
