
  .navigation__checkbox{
    display:none
  }

  .navigation__button{
    position:fixed;
    top:5vh;
    left:5vw;
    height:7rem;
    width:7rem;
    text-align:center;
    background-color:#4141aa;
    border-radius:10%;
    z-index:300;
    box-shadow:0 1rem 3rem #4141aa;
    cursor:pointer;
    transform: translateX(-50%);
  }

  .navigation__background{
    position:fixed;
    top:5vh;
    left:5vw;
    height:6rem;
    width:6rem;
    border-radius:5%;
    background:#ed995a;
    z-index:100;
    transition:all 1.2s cubic-bezier(.86,0,.07,1);
    transform: translateX(-50%);
  }

  .navigation__nav{
    position:fixed;
    top:0;
    left:0;
    height:100vh;
    opacity:0;
    width:0;
    visibility:hidden;
    z-index:200;
    transition:all .8s cubic-bezier(.68,-.55,.01,1)
  }
  .navigation__list{
    position:absolute;
    top: 10vh;
    left: 10vh;
    text-align:left;
    width:100%;
    list-style:none
  }
  /* ---------- Backetball size ---------- */
  .navigation__checkbox:checked~.navigation__background{
    transform:scale(20)
  }
  .navigation__checkbox:checked~.navigation__nav{
    width: 20vw;
    height: 20vh;
    visibility:visible;
    opacity:1
  }

  /* ---------- Button Animation ---------- */
  .navigation__icon{
    position:relative;
    margin-top:3.5rem
  }

  .navigation__icon,
  .navigation__icon:after,
  .navigation__icon:before{
    display:inline-block;
    width:3rem;
    height:2px;
    background-color:#f0f0f4;
  }

  .navigation__icon:after,
  .navigation__icon:before{
    content:"";
    position:absolute;
    left:0;
    transition:all .4s
  }

  .navigation__icon:before{
    top:-1rem
  }
  .navigation__icon:after{
    top:1rem
  }
  .navigation__button:hover .navigation__icon:before{
    top:-1.2rem
  }
  .navigation__button:hover .navigation__icon:after{
    top:1.2rem
  }
  .navigation__checkbox:checked+.navigation__button .navigation__icon{
    background-color:transparent
  }
  .navigation__checkbox:checked+.navigation__button .navigation__icon:before{
    top:0;
    transform:rotate(405deg)
  }
  .navigation__checkbox:checked+.navigation__button .navigation__icon:after{
    top:0;
    transform:rotate(495deg)
  }
  